# Introduction to Data Science PC Lab 01: Introduction to Python

Author: Jan Verwaeren - Arne Deloose

Course: Introduction to Data Science

This notebook will give a brief introduction to Python. Each section will first give a brief illustration, followed by exercises

## 1. Datatypes

**ILLUSTRATION**

**1.a. numeric variables**

In [5]:
#define a variable
a = 5
#print out the type
print(type(a))

<class 'int'>

In [6]:
#define a float

#implicit
b = 5.0
print(type(b))

#explicit
b = float(5)
print(type(b))

<class 'float'>
<class 'float'>

In [7]:
#variable types are mutable

#add an int and a float together
c = a + b
#a will be automatically converted to a float
print(type(c))
print(c) #print the value

<class 'float'>
10.0

In [8]:
#convert types
#notice that conversion and rounding work differently
d = 5.9

#conversion
d1 = int(d) #convert to int
print(d1) #check value

#rounding
d2 = round(d)
print(d2)

5
6

**1.b. strings**

In [9]:
str1 = 'hello'
print(type(str1))

<class 'str'>

In [10]:
#indexing
#print out letters 2 and 3
print(str1[1:3]) #indexing starts at 0, we want positions 1 and 2

el

In [11]:
#add strings together
str2 = 'hello' + ' ' + 'world'
print(str2)

hello world

In [12]:
#string methods
#count how often the letter 'l' appears
result = str2.count('l')
print(result)

3

In [13]:
#convert to uppercase
str3 = str2.upper() #mind the brackets
print(str3)

HELLO WORLD

**1.c. lists and tuples**

Tuples and lists behave identically for the most part, however, tuples are immutable (elements cannot be replaced)

In [14]:
#lists
list1 = list(str3)
list2 = ['apples', 'bananas', 'coconuts']
print(list1)
print(list2)

#tuples
tuple1 = tuple(str3)
tuple2 = ('apples', 'bananas', 'coconuts')
print(tuple1)
print(tuple2)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']
['apples', 'bananas', 'coconuts']
('H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D')
('apples', 'bananas', 'coconuts')

In [15]:
#indexing
print(list2[1]) #access a word
print(tuple2[1])

bananas
bananas

In [16]:
#double indexing
print(list2[1][2:]) #second word, select letters from 3 onwards

nanas

In [18]:
#replace element
list2[1] = 'oranges'
print(list2)

['apples', 'oranges', 'coconuts']

In [19]:
#list methods
#append
#note that append is an 'in-place' method (no output)

list2.append('pears') 
print(list2)

['apples', 'oranges', 'coconuts', 'pears']

**Tuples are immutable. Elements cannot be replaced this way. Apppend will not work either**

In [20]:
#number of elements in a list
print(len(list2))

4

In [21]:
#mixing var types
list4 = [5, 'apple', 4.20]
print(list4)

[5, 'apple', 4.2]

In [22]:
#split a string into a list
str4 = 'this,is,a,test,string'
print(str4.split(',')) #split into list using , as sep

['this', 'is', 'a', 'test', 'string']

**1.d. Bools**

In [23]:
bool1 = True
print(type(bool1))

<class 'bool'>

In [24]:
#compare numbers
print(3<4) #less than
print(3>4) #more than
print(3<=3) #less or equal
print(3>=4) #more or equal

True
False
True
False

In [25]:
#compare numbers
print(3==4) #equal, use double == to distinguish between variable assignments and equality tests
print(3!=4) #not equal

False
True

In [48]:
#comparisons auto-convert ints and floats
print(int(3)==float(3))

True

In [26]:
#in operator
print('hello' in str2)
print('hello' in str3) #str3 is capitalised
print('hello' in str3.lower()) #convert str3 back to lowercase

True
False
True

**EXERCISES**

**Exer 1**

Below, a list of some important model organisms used in research is given. Using this as the basis, create a new list that contains the shortened name instead (initial + genus). So instead of 'Escherichia coli', we want 'E. coli'.

Hint: try to split the strings based on the whitespace

In [33]:
#define list
model_organism = ['Escherichia coli', 'Arabidopsis thaliana', 'Drosophila melanogaster']

In [34]:
#solution
model_organism_short = list() #pre-allocate list
temp = model_organism[0].split(' ') #split on space
model_organism_short.append(temp[0][0] + '. ' + temp[1]) #add together
print(model_organism_short)

['E. coli']

In [35]:
#repeat this for the other strings

**Exer 2**

Below, three course names are given as a tuple. Replace the 3rd and 5th letter with uppercase

Hint: use the function *upper* and remember which types of vars are mutable

In [52]:
CourseNames = ('Pharmacokinetics', 'Process Engineering', 'Industrial Biotechnology')

In [53]:
CourseNames_list = list()
CourseNames_list.append(CourseNames[0][0:3] + CourseNames[0][3].upper() + 
                        CourseNames[0][4:5] + CourseNames[0][5].upper() + CourseNames[0][6:]) #add together
print(CourseNames_list)
#repeat for the other strings

['PhaRmAcokinetics']

**Exer 3**

Below, three lists are given. Check if the first and last element are the same and assign the results to variables result_x, result_y and result_z. Your results should be a bool (True or False). 

Concatenate these bools together to create a list of results (call this results_list).

In [49]:
numbers_x = [10, 20, 30, 40, 50]
numbers_y = [10, 20, 30, 40, 10]
numbers_z = [10, 20, 30, 40, 10.0]

In [50]:
result_x = numbers_x[0]==numbers_x[-1]
result_y = numbers_y[0]==numbers_y[-1]
result_z = numbers_z[0]==numbers_z[-1]

results_list = [result_x, result_y, result_z]
print(results_list)

[False, True, True]

## 2. Control structures

In [ ]:
#define list
DrugNames = ('Adderall', 'Mydayis', 'Ritalin', 'Concerta')

## 3. File input/output