# Introduction to Data Science PC Lab 03: Pandas Part 1

Author: Jan Verwaeren - Arne Deloose

Course: Introduction to Data Science

Welcome to the third pc lab. In this lab, we will discuss a second important library: Pandas. We will cover the basics of Pandas (slides 1-24 of the lecture 3). This notebook comes to you in four sections: Pandas objects, data indexing and selection, dataframes to numpy arrays, and viewing and summarising. More advanced applications will come later in part 2.

As you hopefully remember from the previous lab, we can import a library with:

In [55]:
import pandas as pd

Pandas is installed by default on Colab and is shortened to *pd* by convention.

The pandas library will allow us to work with dataframes. In the previous lab, you might have noticed Numpy arrays can be inconvenient when working with mixed data, since we cannot put different data types in the same array. Pandas comes to the rescue here. Unlike arrays, dataframes can contain 'heterogeneous tabular data', meaning we can put strings and numbers in the same dataframe. A dataframe also allows us to name the rows and columns and it has some interesting built-in operations that can be performed.

But let us start at the beginning. There are three important objects within Pandas: series, indexes and dataframes

# 1. Pandas objects

## 1.1. Series and index objects

A series objects is a 1D array similar to a Numpy array, however, it has indexes. Even if we do not explicitely provide these indexes, a Series object always has an index.

In [56]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

As you can see, the indexes 0 to 3 are automatically assigned here. We can print the values and the index with the following commands:

In [57]:
print(data.values)
print(data.index)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

We can also use indexing to extract a specific element:

In [58]:
data[2]

0.75

So for, this looks a lot like Numpy. However, unlike Numpy, we can apply the same principles to different indexes. For example:

In [59]:
data2 = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
data2

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [60]:
print(data2['a'])

0.25

In [61]:
print(data2['a':'c'])

a    0.25
b    0.50
c    0.75
dtype: float64

Indexes can also be defined as a Pandas object and be used to overwrite the index of an existing Series. This is illustrated below.

In [62]:
index1 = pd.Index(['a', 'b', 'c', 'd']) #index object
data.index = index1
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

A big advantage of these indexes is that Pandas will perform **alignment**. Consider the following code:

In [63]:
data2 = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
data3 = pd.Series([1, 0.75, 0.50, 0.25], index = ['d', 'c', 'b', 'a'])
data2+data3

a    0.5
b    1.0
c    1.5
d    2.0
dtype: float64

As you can see, Pandas automatically aligned the numbers based on their index, so we no longer have to worry about the order of our data.

A common way to create a series is to base ourselves on a dictionary. A dictionary stores data in pairs, which each pair having a key and a value. This translates to a Series object easily. Below, you can see how dictionaries are defined.

In [64]:
area_dict = {'California': 423967,
             'Texas': 695662,
             'New York': 141297,
             'Florida': 170312,
             'Illinois': 149995}

area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [65]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Below, we see an illustration of the value of indexes. Here, the areas and population are both given from largest to smallest value and the population density is calculated. In Numpy, this would be pretty hard to do (especially if we have 50 states), but in Pandas, everything is aligned automatically. Notice that because we aligned, the index is now sorted alfabetically.

In [66]:
area_dict = {'Texas': 695662,
             'California': 423967,
             'Florida': 170312,
             'Illinois': 149995,
             'New York': 141297}

area = pd.Series(area_dict)

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)

pop_dens = population/area
pop_dens

California     90.413926
Florida       114.806121
Illinois       85.883763
New York      139.076746
Texas          38.018740
dtype: float64

## 1.2. Dataframes

Looking at the previous example, it would be convenient if we could put the population, area and population density into a single object. After all, the main advantage of Pandas is mixing heterogenous data into a single object. This can be done using a dataframe. A dataframe can be created easily using dictionaries.

In [67]:
states = pd.DataFrame({'population': population, 
                       'area': area})
states

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

We can also assign objects directly. Pandas can automatically convert numpy objects to a dataframe.

In [68]:
import numpy as np
tmp = pd.DataFrame( {'test' : np.arange(5), 
                     'bis'  : np.arange(5, 10)}, 
                    index = ['a', 'b', 'c', 'd', 'e'])
print(tmp)
tmp = pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])
tmp

   test  bis
a     0    5
b     1    6
c     2    7
d     3    8
e     4    9

        foo       bar
a  0.562125  0.719535
b  0.208770  0.670770
c  0.940735  0.875182

Dataframes can be read from a file as well. If a file uses a special seperator (not a comma), we will need to specify it. Dutch files often uses ; instead of ,

In [69]:
url = 'https://raw.githubusercontent.com/jverwaer/IntroDataScience/main/PCLabs/files_IDS/iris.csv'
iris_df = pd.read_csv(url, sep = ';')
iris_df

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

# 2. Data indexing and selection

Similar to Numpy arrays, we can select parts of a Pandas dataframe. There are different ways of doing this.

Using *.iloc*, we can copy Numpy-style indexing as illustrated below

In [70]:
states.iloc[1:3, 0:2]

          population    area
Florida     19552860  170312
Illinois    12882135  149995

Of course, we can also use the actual indexes of the rows and columns. This is done with *.loc*

In [71]:
states.loc[['California', 'Illinois'], ['population', 'area']]

            population    area
California    38332521  423967
Illinois      12882135  149995

Masks and fancy indexing can also be used, similar to Numpy.

In [72]:
# Select SepalLength and PetalLength for all setosa species 
iris_df.loc[iris_df['Species'] == "setosa", ['SepalLength', 'PetalLength']]

    SepalLength  PetalLength
0           5.1          1.4
1           4.9          1.4
2           4.7          1.3
3           4.6          1.5
4           5.0          1.4
5           5.4          1.7
6           4.6          1.4
7           5.0          1.5
8           4.4          1.4
9           4.9          1.5
10          5.4          1.5
11          4.8          1.6
12          4.8          1.4
13          4.3          1.1
14          5.8          1.2
15          5.7          1.5
16          5.4          1.3
17          5.1          1.4
18          5.7          1.7
19          5.1          1.5
20          5.4          1.7
21          5.1          1.5
22          4.6          1.0
23          5.1          1.7
24          4.8          1.9
25          5.0          1.6
26          5.0          1.6
27          5.2          1.5
28          5.2          1.4
29          4.7          1.6
30          4.8          1.6
31          5.4          1.5
32          5.2          1.5
33          5.5          1.4
34          4.9          1.5
35          5.0          1.2
36          5.5          1.3
37          4.9          1.4
38          4.4          1.3
39          5.1          1.5
40          5.0          1.3
41          4.5          1.3
42          4.4          1.3
43          5.0          1.6
44          5.1          1.9
45          4.8          1.4
46          5.1          1.6
47          4.6          1.4
48          5.3          1.5
49          5.0          1.4

In [73]:
#Using explicit low labels (and hence loc) combined with list comprehensions
colSelector = ['Length' in name for name in iris_df.columns]
iris_df.loc[1:10, colSelector]

    SepalLength  PetalLength
1           4.9          1.4
2           4.7          1.3
3           4.6          1.5
4           5.0          1.4
5           5.4          1.7
6           4.6          1.4
7           5.0          1.5
8           4.4          1.4
9           4.9          1.5
10          5.4          1.5

Modifying a value in a dataframe is also very similar to Numpy

In [74]:
#change one value
iris_df.iloc[2, 3] = 5.0

Entire columns can be updated or added using dictionaries or Series. This will automatically align the values.

In [75]:
#if we assume a leaf has an eliptical shape, we can calculate the area as:
iris_df['area'] = np.pi * iris_df['SepalWidth'] / 2 * iris_df['SepalLength'] / 2

A vector with the correct size can be used as well, but here we do not have automatic alignment

In [76]:
states['population density'] = [1, 2, 3, 4, 5]
states

            population    area  population density
California    38332521  423967                   1
Florida       19552860  170312                   2
Illinois      12882135  149995                   3
New York      19651127  141297                   4
Texas         26448193  695662                   5

We should avoid chained indexing, because this will result in unpredictable behaviour. In the image below, we can see why this happens. We can select a view of a dataframe, keeping the original intact, or we can create a copy of a dataframe (or part of a dataframe). This can lead to ambiguity using chained indexing. If we select the second row, do we want a new dataframe with *only* the second row? Or do we want to modify the second row and keep everything else intact?

![alt text](files_IDS/modifying.png "Comparison")

To avoid problems, write:

iris_df.loc[1, ‘PetalWidth’] = 5.0
    
instead of

~~iris_df[‘PetalWidth’][1] = 5.0~~

# 3. Final notes

Pandas dataframes can be easily converted to a Numpy array using the built-in function *to_numpy*

In [77]:
X = iris_df.iloc[:, 0:4].to_numpy()
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 5. ],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [78]:
Y = iris_df.iloc[:, 4].to_numpy()
Y

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype=object)

In [79]:
#printing the whole dataframe (will be truncated automatically)
iris_df

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species       area
0            5.1         3.5          1.4         0.2     setosa  14.019357
1            4.9         3.0          1.4         0.2     setosa  11.545353
2            4.7         3.2          1.3         5.0     setosa  11.812388
3            4.6         3.1          1.5         0.2     setosa  11.199778
4            5.0         3.6          1.4         0.2     setosa  14.137167
..           ...         ...          ...         ...        ...        ...
145          6.7         3.0          5.2         2.3  virginica  15.786503
146          6.3         2.5          5.0         1.9  virginica  12.370021
147          6.5         3.0          5.2         2.0  virginica  15.315264
148          6.2         3.4          5.4         2.3  virginica  16.556193
149          5.9         3.0          5.1         1.8  virginica  13.901547

[150 rows x 6 columns]

In [80]:
#show first couple rows
iris_df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species       area
0          5.1         3.5          1.4         0.2  setosa  14.019357
1          4.9         3.0          1.4         0.2  setosa  11.545353
2          4.7         3.2          1.3         5.0  setosa  11.812388
3          4.6         3.1          1.5         0.2  setosa  11.199778
4          5.0         3.6          1.4         0.2  setosa  14.137167

In [81]:
#summary statistics
iris_df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth        area
count   150.000000  150.000000   150.000000  150.000000  150.000000
mean      5.843333    3.057333     3.758000    1.231333   13.998047
std       0.828066    0.435866     1.765298    0.818669    2.640394
min       4.300000    2.000000     1.000000    0.100000    7.853982
25%       5.100000    2.800000     1.600000    0.300000   12.299335
50%       5.800000    3.000000     4.350000    1.300000   13.870132
75%       6.400000    3.300000     5.100000    1.800000   15.963218
max       7.900000    4.400000     6.900000    5.000000   23.577653