# Introduction to Data Science PC Lab 01: Introduction to Python

Author: Jan Verwaeren - Arne Deloose

Course: Introduction to Data Science

This notebook will give a brief introduction to Python. Each section will first give a brief illustration, followed by exercises

## 1. Datatypes

**ILLUSTRATION**

**1.a. numeric variables**

In [48]:
#define a variable
a = 5
#print out the type
print(type(a))

<class 'int'>

In [49]:
#define a float

#implicit
b = 5.0
print(type(b))

#explicit
b = float(5)
print(type(b))

<class 'float'>
<class 'float'>

In [50]:
#variable types are mutable

#add an int and a float together
c = a + b
#a will be automatically converted to a float
print(type(c))
print(c) #print the value

<class 'float'>
10.0

In [51]:
#convert types
#notice that conversion and rounding work differently
d = 5.9 #float

#conversion
d1 = int(d) #convert to int
print(d1) #check value

#rounding
d2 = round(d)
print(d2)

5
6

**1.b. strings**

In [52]:
str1 = 'hello'
print(type(str1))

<class 'str'>

In [53]:
#indexing
#print out letters 2 and 3
print(str1[1:3]) #indexing starts at 0, we want positions 1 and 2

el

In [54]:
#add strings together
str2 = 'hello' + ' ' + 'world'
print(str2)

hello world

In [55]:
#string methods
#count how often the letter 'l' appears
result = str2.count('l')
print(result)

3

In [56]:
#convert to uppercase
str3 = str2.upper() #mind the brackets
print(str3)

HELLO WORLD

**1.c. lists and tuples**

Tuples and lists behave identically for the most part, however, tuples are immutable (elements cannot be replaced)

In [57]:
#lists
list1 = list(str3)
list2 = ['apples', 'bananas', 'coconuts']
print(list1)
print(list2)

#tuples
tuple1 = tuple(str3)
tuple2 = ('apples', 'bananas', 'coconuts')
print(tuple1)
print(tuple2)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']
['apples', 'bananas', 'coconuts']
('H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D')
('apples', 'bananas', 'coconuts')

In [58]:
#indexing
print(list2[1]) #access a word
print(tuple2[1])

bananas
bananas

In [59]:
#double indexing
print(list2[1][2:]) #second word, select letters from 3 onwards

nanas

In [60]:
#replace element
list2[1] = 'oranges'
print(list2)

['apples', 'oranges', 'coconuts']

In [61]:
#list methods
#append
#note that append is an 'in-place' method (no output)

list2.append('pears') 
print(list2)

['apples', 'oranges', 'coconuts', 'pears']

**Note: Tuples are immutable (elements cannot be replaced)**

In [62]:
#number of elements in a list
print(len(list2))

4

In [63]:
#mixing var types
list4 = [5, 'apple', 4.20]
print(list4)

[5, 'apple', 4.2]

In [64]:
#split a string into a list
str4 = 'this,is,a,test,string'
print(str4.split(',')) #split into list using , as sep

['this', 'is', 'a', 'test', 'string']

**1.d. Bools**

In [65]:
bool1 = True
print(type(bool1))

<class 'bool'>

In [66]:
#compare numbers
print(3<4) #less than
print(3>4) #more than
print(3<=3) #less or equal
print(3>=4) #more or equal

True
False
True
False

In [67]:
#compare numbers
print(3==4) #equal, use double == to distinguish between variable assignments and equality tests
print(3!=4) #not equal

False
True

In [68]:
#comparisons auto-convert ints and floats
print(int(3)==float(3))

True

In [69]:
#in operator
print('hello' in str2)
print('hello' in str3) #str3 is capitalised
print('hello' in str3.lower()) #convert str3 back to lowercase

True
False
True

**EXERCISES**

**Exer 1**

Below, a list of some important model organisms used in research is given. Using this as the basis, create a new list that contains the shortened name instead (initial + genus). So instead of 'Escherichia coli', we want 'E. coli'.

Hint: try to split the strings based on the whitespace

In [70]:
#define list
model_organism = ['Escherichia coli', 'Arabidopsis thaliana', 'Drosophila melanogaster']

In [71]:
#solution
model_organism_short = list() #pre-allocate list
temp = model_organism[0].split(' ') #split on space
model_organism_short.append(temp[0][0] + '. ' + temp[1]) #add together
#repeat for the others
temp = model_organism[1].split(' ') #split on space
model_organism_short.append(temp[0][0] + '. ' + temp[1]) #add together
temp = model_organism[2].split(' ') #split on space
model_organism_short.append(temp[0][0] + '. ' + temp[1]) #add together

print(model_organism_short)

['E. coli', 'A. thaliana', 'D. melanogaster']

**Exer 2**

Below, three course names are given as a tuple. Replace the 3rd and 5th letter with uppercase

Hint: use the function *upper* and remember which types of vars are mutable

In [72]:
CourseNames = ('Pharmacokinetics', 'Process Engineering', 'Industrial Biotechnology')

In [73]:
CourseNames_list = list()
#strings are immutable, so you need to construct a new string first
#take the first 2 letters, add uppercase 3rd letter, add letter 4
#add uppercase letter 5, add the rest
new_string = (CourseNames[0][0:3] + CourseNames[0][3].upper() + 
CourseNames[0][4] + CourseNames[0][5].upper() + CourseNames[0][6:])

CourseNames_list.append(new_string) #add together
CourseNames_list.append(CourseNames[1][0:3] + CourseNames[1][3].upper() + 
                        CourseNames[1][4] + CourseNames[1][5].upper() + CourseNames[1][6:]) #add together
CourseNames_list.append(CourseNames[2][0:3] + CourseNames[2][3].upper() + 
                        CourseNames[2][4] + CourseNames[2][5].upper() + CourseNames[2][6:]) #add together


print(CourseNames_list)

['PhaRmAcokinetics', 'ProCeSs Engineering', 'IndUsTrial Biotechnology']

**Exer 3**

Below, three lists are given. Check if the first and last element are the same and assign the results to variables result_x, result_y and result_z. Your results should be a bool (True or False). 

Concatenate these bools together to create a list of results (call this results_list).

In [74]:
numbers_x = [10, 20, 30, 40, 50]
numbers_y = [10, 20, 30, 40, 10]
numbers_z = [10, 20, 30, 40, 10.0]

In [75]:
result_x = numbers_x[0]==numbers_x[-1]
result_y = numbers_y[0]==numbers_y[-1]
result_z = numbers_z[0]==numbers_z[-1]

results_list = [result_x, result_y, result_z]
print(results_list)

[False, True, True]

## 2. Control structures

**ILLUSTRATION**

**2.a. IF**

In [76]:
#if, else and elif
num = 45

#if
if num > 25:
    print("Number is greater than 25")

Number is greater than 25

In [77]:
#if-else
if num % 2 == 0: #remainder after division is zero
    print("Number is even")
else:
    print("Number is odd")

Number is odd

In [78]:
# if-elif-else
# any number of elif can be used
if num < 0:
    print("Number is a negative number")
elif num > 0:
    print("Number is a positive number")
else:
    print("Number is zero")

Number is a positive number

**2.b. FOR**

In [79]:
#for, range
#use only endpoint
for i in range(5):
    print(i)

0
1
2
3
4

In [80]:
#for
#start and endpoint
for i in range(3, 5):
    print(i)

3
4

In [81]:
#for
#start and endpoint + step
for i in range(2, 10, 2): #from 2 to 10 in steps of 2
    print(i)

2
4
6
8

In [82]:
#for
#using a list
list_fruit = ['apples', 'bananas', 'coconuts']
for fruit in list_fruit:
    print(fruit)

apples
bananas
coconuts

**2.c. WHILE**

In [83]:
#while
num = 0
while num<10:
    num+=1 #add 1 to number
print(num)

10

**EXERCISES**

**Exer 1**

The Collatz conjecture is a famous unsolved math problem. Given a number (positive integer), the following operation is performed:
* If the number is even: divide by 2
* If it is odd: multiply by 3 and add 1

If the new number is not equal to 1, the same rules are followed again. Given these rules, will the sequence always converge to 1?

Write a program that executes these operations for a given number. Using *input*, you can prompt the user for a number (note that this will be given as string by default). Count the number of operations performed and write this back to the user.

EXTRA: adapt your code to give an error message when an invalid input is given (not a positive integer). You can use a try + except structure for this.

In [85]:
current_num = input('Give a number: ')
current_num = int(current_num)
num_op = 0 #number of operations
while current_num!=1:
    if current_num % 2 == 0: #remainder after division is zero => even
        current_num=current_num/2
    else:
        current_num=current_num*3 + 1
    num_op+=1
print('Converged')
print(str(num_op) + ' operations were performed.')

Give a number: 5
Converged
5 operations were performed.

In [86]:
#with input checking

current_num = input('Give a number: ')
#try: if it gives an error message, run except instead
try:
    current_num = int(current_num)
except:
    print('Invalid input')
if current_num<1:
    print('Number must be positive')
else: #run the code
    num_op = 0 #number of operations
    while current_num!=1:
        if current_num % 2 == 0: #remainder after division is zero => even
            current_num=current_num/2
        else:
            current_num=current_num*3 + 1
        num_op+=1
    print('Converged')
    print(str(num_op) + ' operations were performed.')

Give a number: 6
Converged
8 operations were performed.

**Exer 2**

Replace the drug names in the list below by their capitalised version (you can use the *capitalize* string method).

In [87]:
#define list
DrugNames = ['adderall', 'mydayis', 'ritalin', 'concerta']

In [88]:
for i in range(len(DrugNames)):
    DrugNames[i] = DrugNames[i].capitalize()
print(DrugNames)

['Adderall', 'Mydayis', 'Ritalin', 'Concerta']

## 3. File input/output

**ILLUSTRATION**

File input output works differently for google colab vs local programs such as Jupyter. Therefore, we will first check where we are running the notebook.

In [89]:
try:
    import google.colab
    in_colab = True #set in_colab to True if you're running the code from google colab
except:
    in_colab = False #otherwise, it's false

**3.a From Github**

Option 1 (colab recommended): clone the repository from Github

After the clone command, the repo will show up in the sidebar (select the files icon)

In [90]:
#this method should not be used outside google colab
if in_colab:
    #first clone the repo (insert the link below)
    !git clone https://github.com/jverwaer/IntroDataScience
    #navigate to the repo and then use / to select files inside the repo
    #open the file
    f = open('IntroDataScience/PCLabs/files_IDS/iris.csv', 'r')
    #read the lines
    print(f.readlines())

Option 2 (works everywhere): load raw files

- Click on the file in the repository, 
- Click on 'View Raw',
- Copy the URL of the raw file, 
- Use this URL as the location of your file. 

Some functions can work directly with a URL. However, the function *open* cannot do this. Therefore, we need to use the requests library.

In [100]:
#load a file directly from Github
url='https://raw.githubusercontent.com/jverwaer/IntroDataScience/main/PCLabs/files_IDS/iris.csv' #raw github link

#load requests library
import requests

#use requests to load the file from the url
f = requests.get(url)
#print out the text
print(f.text)

sepal length;sepal width;petal length;petal width;soort
5.1;3.5;1.4;0.2;setosa
4.9;3.0;1.4;0.2;setosa
4.7;3.2;1.3;0.2;setosa
4.6;3.1;1.5;0.2;setosa
5.0;3.6;1.4;0.2;setosa
5.4;3.9;1.7;0.4;setosa
4.6;3.4;1.4;0.3;setosa
5.0;3.4;1.5;0.2;setosa
4.4;2.9;1.4;0.2;setosa
4.9;3.1;1.5;0.1;setosa
5.4;3.7;1.5;0.2;setosa
4.8;3.4;1.6;0.2;setosa
4.8;3.0;1.4;0.1;setosa
4.3;3.0;1.1;0.1;setosa
5.8;4.0;1.2;0.2;setosa
5.7;4.4;1.5;0.4;setosa
5.4;3.9;1.3;0.4;setosa
5.1;3.5;1.4;0.3;setosa
5.7;3.8;1.7;0.3;setosa
5.1;3.8;1.5;0.3;setosa
5.4;3.4;1.7;0.2;setosa
5.1;3.7;1.5;0.4;setosa
4.6;3.6;1.0;0.2;setosa
5.1;3.3;1.7;0.5;setosa
4.8;3.4;1.9;0.2;setosa
5.0;3.0;1.6;0.2;setosa
5.0;3.4;1.6;0.4;setosa
5.2;3.5;1.5;0.2;setosa
5.2;3.4;1.4;0.2;setosa
4.7;3.2;1.6;0.2;setosa
4.8;3.1;1.6;0.2;setosa
5.4;3.4;1.5;0.4;setosa
5.2;4.1;1.5;0.1;setosa
5.5;4.2;1.4;0.2;setosa
4.9;3.1;1.5;0.2;setosa
5.0;3.2;1.2;0.2;setosa
5.5;3.5;1.3;0.2;setosa
4.9;3.6;1.4;0.1;setosa
4.4;3.0;1.3;0.2;setosa
5.1;3.4;1.5;0.2;setosa
5.0;3.5;1.3;0.3;setosa
4.5;2.3;1.3;0.3;setosa
4.4;3.2;1.3;0.2;setosa
5.0;3.5;1.6;0.6;setosa
5.1;3.8;1.9;0.4;setosa
4.8;3.0;1.4;0.3;setosa
5.1;3.8;1.6;0.2;setosa
4.6;3.2;1.4;0.2;setosa
5.3;3.7;1.5;0.2;setosa
5.0;3.3;1.4;0.2;setosa
7.0;3.2;4.7;1.4;versicolor
6.4;3.2;4.5;1.5;versicolor
6.9;3.1;4.9;1.5;versicolor
5.5;2.3;4.0;1.3;versicolor
6.5;2.8;4.6;1.5;versicolor
5.7;2.8;4.5;1.3;versicolor
6.3;3.3;4.7;1.6;versicolor
4.9;2.4;3.3;1.0;versicolor
6.6;2.9;4.6;1.3;versicolor
5.2;2.7;3.9;1.4;versicolor
5.0;2.0;3.5;1.0;versicolor
5.9;3.0;4.2;1.5;versicolor
6.0;2.2;4.0;1.0;versicolor
6.1;2.9;4.7;1.4;versicolor
5.6;2.9;3.6;1.3;versicolor
6.7;3.1;4.4;1.4;versicolor
5.6;3.0;4.5;1.5;versicolor
5.8;2.7;4.1;1.0;versicolor
6.2;2.2;4.5;1.5;versicolor
5.6;2.5;3.9;1.1;versicolor
5.9;3.2;4.8;1.8;versicolor
6.1;2.8;4.0;1.3;versicolor
6.3;2.5;4.9;1.5;versicolor
6.1;2.8;4.7;1.2;versicolor
6.4;2.9;4.3;1.3;versicolor
6.6;3.0;4.4;1.4;versicolor
6.8;2.8;4.8;1.4;versicolor
6.7;3.0;5.0;1.7;versicolor
6.0;2.9;4.5;1.5;versicolor
5.7;2.6;3.5;1.0;versicolor
5.5;2.4;3.8;1.1;versicolor
5.5;2.4;3.7;1.0;versicolor
5.8;2.7;3.9;1.2;versicolor
6.0;2.7;5.1;1.6;versicolor
5.4;3.0;4.5;1.5;versicolor
6.0;3.4;4.5;1.6;versicolor
6.7;3.1;4.7;1.5;versicolor
6.3;2.3;4.4;1.3;versicolor
5.6;3.0;4.1;1.3;versicolor
5.5;2.5;4.0;1.3;versicolor
5.5;2.6;4.4;1.2;versicolor
6.1;3.0;4.6;1.4;versicolor
5.8;2.6;4.0;1.2;versicolor
5.0;2.3;3.3;1.0;versicolor
5.6;2.7;4.2;1.3;versicolor
5.7;3.0;4.2;1.2;versicolor
5.7;2.9;4.2;1.3;versicolor
6.2;2.9;4.3;1.3;versicolor
5.1;2.5;3.0;1.1;versicolor
5.7;2.8;4.1;1.3;versicolor
6.3;3.3;6.0;2.5;virginica
5.8;2.7;5.1;1.9;virginica
7.1;3.0;5.9;2.1;virginica
6.3;2.9;5.6;1.8;virginica
6.5;3.0;5.8;2.2;virginica
7.6;3.0;6.6;2.1;virginica
4.9;2.5;4.5;1.7;virginica
7.3;2.9;6.3;1.8;virginica
6.7;2.5;5.8;1.8;virginica
7.2;3.6;6.1;2.5;virginica
6.5;3.2;5.1;2.0;virginica
6.4;2.7;5.3;1.9;virginica
6.8;3.0;5.5;2.1;virginica
5.7;2.5;5.0;2.0;virginica
5.8;2.8;5.1;2.4;virginica
6.4;3.2;5.3;2.3;virginica
6.5;3.0;5.5;1.8;virginica
7.7;3.8;6.7;2.2;virginica
7.7;2.6;6.9;2.3;virginica
6.0;2.2;5.0;1.5;virginica
6.9;3.2;5.7;2.3;virginica
5.6;2.8;4.9;2.0;virginica
7.7;2.8;6.7;2.0;virginica
6.3;2.7;4.9;1.8;virginica
6.7;3.3;5.7;2.1;virginica
7.2;3.2;6.0;1.8;virginica
6.2;2.8;4.8;1.8;virginica
6.1;3.0;4.9;1.8;virginica
6.4;2.8;5.6;2.1;virginica
7.2;3.0;5.8;1.6;virginica
7.4;2.8;6.1;1.9;virginica
7.9;3.8;6.4;2.0;virginica
6.4;2.8;5.6;2.2;virginica
6.3;2.8;5.1;1.5;virginica
6.1;2.6;5.6;1.4;virginica
7.7;3.0;6.1;2.3;virginica
6.3;3.4;5.6;2.4;virginica
6.4;3.1;5.5;1.8;virginica
6.0;3.0;4.8;1.8;virginica
6.9;3.1;5.4;2.1;virginica
6.7;3.1;5.6;2.4;virginica
6.9;3.1;5.1;2.3;virginica
5.8;2.7;5.1;1.9;virginica
6.8;3.2;5.9;2.3;virginica
6.7;3.3;5.7;2.5;virginica
6.7;3.0;5.2;2.3;virginica
6.3;2.5;5.0;1.9;virginica
6.5;3.0;5.2;2.0;virginica
6.2;3.4;5.4;2.3;virginica
5.9;3.0;5.1;1.8;virginica

**3.b Local files**

In the sidebar, navigate to the files icon and select *upload*. Then you can navigate to this file.

Outside of colab, uploading is not necessary if the file is in the correct location (same folder as notebook). Otherwise, you need to copy the correct path.

Other paths can be set using the following commands:
* import os
* os.chdir('c:\\temp\\files_IDS') #navigate to the temp folder

Keep in mind that setting a path like this will make the notebook less reproducable (a location might not exist on a different computer).

In [96]:
#google colab
if in_colab:
    f = open('iris.csv', 'r') #remember to upload the file first
    print(f.readlines())
else: #locally
    f = open('files_IDS/iris.csv', 'r') #location (relative path)
    print(f.readlines())

['sepal length;sepal width;petal length;petal width;soort\n', '5.1;3.5;1.4;0.2;setosa\n', '4.9;3.0;1.4;0.2;setosa\n', '4.7;3.2;1.3;0.2;setosa\n', '4.6;3.1;1.5;0.2;setosa\n', '5.0;3.6;1.4;0.2;setosa\n', '5.4;3.9;1.7;0.4;setosa\n', '4.6;3.4;1.4;0.3;setosa\n', '5.0;3.4;1.5;0.2;setosa\n', '4.4;2.9;1.4;0.2;setosa\n', '4.9;3.1;1.5;0.1;setosa\n', '5.4;3.7;1.5;0.2;setosa\n', '4.8;3.4;1.6;0.2;setosa\n', '4.8;3.0;1.4;0.1;setosa\n', '4.3;3.0;1.1;0.1;setosa\n', '5.8;4.0;1.2;0.2;setosa\n', '5.7;4.4;1.5;0.4;setosa\n', '5.4;3.9;1.3;0.4;setosa\n', '5.1;3.5;1.4;0.3;setosa\n', '5.7;3.8;1.7;0.3;setosa\n', '5.1;3.8;1.5;0.3;setosa\n', '5.4;3.4;1.7;0.2;setosa\n', '5.1;3.7;1.5;0.4;setosa\n', '4.6;3.6;1.0;0.2;setosa\n', '5.1;3.3;1.7;0.5;setosa\n', '4.8;3.4;1.9;0.2;setosa\n', '5.0;3.0;1.6;0.2;setosa\n', '5.0;3.4;1.6;0.4;setosa\n', '5.2;3.5;1.5;0.2;setosa\n', '5.2;3.4;1.4;0.2;setosa\n', '4.7;3.2;1.6;0.2;setosa\n', '4.8;3.1;1.6;0.2;setosa\n', '5.4;3.4;1.5;0.4;setosa\n', '5.2;4.1;1.5;0.1;setosa\n', '5.5;4.2;1.4;0.2;setosa\n', '4.9;3.1;1.5;0.2;setosa\n', '5.0;3.2;1.2;0.2;setosa\n', '5.5;3.5;1.3;0.2;setosa\n', '4.9;3.6;1.4;0.1;setosa\n', '4.4;3.0;1.3;0.2;setosa\n', '5.1;3.4;1.5;0.2;setosa\n', '5.0;3.5;1.3;0.3;setosa\n', '4.5;2.3;1.3;0.3;setosa\n', '4.4;3.2;1.3;0.2;setosa\n', '5.0;3.5;1.6;0.6;setosa\n', '5.1;3.8;1.9;0.4;setosa\n', '4.8;3.0;1.4;0.3;setosa\n', '5.1;3.8;1.6;0.2;setosa\n', '4.6;3.2;1.4;0.2;setosa\n', '5.3;3.7;1.5;0.2;setosa\n', '5.0;3.3;1.4;0.2;setosa\n', '7.0;3.2;4.7;1.4;versicolor\n', '6.4;3.2;4.5;1.5;versicolor\n', '6.9;3.1;4.9;1.5;versicolor\n', '5.5;2.3;4.0;1.3;versicolor\n', '6.5;2.8;4.6;1.5;versicolor\n', '5.7;2.8;4.5;1.3;versicolor\n', '6.3;3.3;4.7;1.6;versicolor\n', '4.9;2.4;3.3;1.0;versicolor\n', '6.6;2.9;4.6;1.3;versicolor\n', '5.2;2.7;3.9;1.4;versicolor\n', '5.0;2.0;3.5;1.0;versicolor\n', '5.9;3.0;4.2;1.5;versicolor\n', '6.0;2.2;4.0;1.0;versicolor\n', '6.1;2.9;4.7;1.4;versicolor\n', '5.6;2.9;3.6;1.3;versicolor\n', '6.7;3.1;4.4;1.4;versicolor\n', '5.6;3.0;4.5;1.5;versicolor\n', '5.8;2.7;4.1;1.0;versicolor\n', '6.2;2.2;4.5;1.5;versicolor\n', '5.6;2.5;3.9;1.1;versicolor\n', '5.9;3.2;4.8;1.8;versicolor\n', '6.1;2.8;4.0;1.3;versicolor\n', '6.3;2.5;4.9;1.5;versicolor\n', '6.1;2.8;4.7;1.2;versicolor\n', '6.4;2.9;4.3;1.3;versicolor\n', '6.6;3.0;4.4;1.4;versicolor\n', '6.8;2.8;4.8;1.4;versicolor\n', '6.7;3.0;5.0;1.7;versicolor\n', '6.0;2.9;4.5;1.5;versicolor\n', '5.7;2.6;3.5;1.0;versicolor\n', '5.5;2.4;3.8;1.1;versicolor\n', '5.5;2.4;3.7;1.0;versicolor\n', '5.8;2.7;3.9;1.2;versicolor\n', '6.0;2.7;5.1;1.6;versicolor\n', '5.4;3.0;4.5;1.5;versicolor\n', '6.0;3.4;4.5;1.6;versicolor\n', '6.7;3.1;4.7;1.5;versicolor\n', '6.3;2.3;4.4;1.3;versicolor\n', '5.6;3.0;4.1;1.3;versicolor\n', '5.5;2.5;4.0;1.3;versicolor\n', '5.5;2.6;4.4;1.2;versicolor\n', '6.1;3.0;4.6;1.4;versicolor\n', '5.8;2.6;4.0;1.2;versicolor\n', '5.0;2.3;3.3;1.0;versicolor\n', '5.6;2.7;4.2;1.3;versicolor\n', '5.7;3.0;4.2;1.2;versicolor\n', '5.7;2.9;4.2;1.3;versicolor\n', '6.2;2.9;4.3;1.3;versicolor\n', '5.1;2.5;3.0;1.1;versicolor\n', '5.7;2.8;4.1;1.3;versicolor\n', '6.3;3.3;6.0;2.5;virginica\n', '5.8;2.7;5.1;1.9;virginica\n', '7.1;3.0;5.9;2.1;virginica\n', '6.3;2.9;5.6;1.8;virginica\n', '6.5;3.0;5.8;2.2;virginica\n', '7.6;3.0;6.6;2.1;virginica\n', '4.9;2.5;4.5;1.7;virginica\n', '7.3;2.9;6.3;1.8;virginica\n', '6.7;2.5;5.8;1.8;virginica\n', '7.2;3.6;6.1;2.5;virginica\n', '6.5;3.2;5.1;2.0;virginica\n', '6.4;2.7;5.3;1.9;virginica\n', '6.8;3.0;5.5;2.1;virginica\n', '5.7;2.5;5.0;2.0;virginica\n', '5.8;2.8;5.1;2.4;virginica\n', '6.4;3.2;5.3;2.3;virginica\n', '6.5;3.0;5.5;1.8;virginica\n', '7.7;3.8;6.7;2.2;virginica\n', '7.7;2.6;6.9;2.3;virginica\n', '6.0;2.2;5.0;1.5;virginica\n', '6.9;3.2;5.7;2.3;virginica\n', '5.6;2.8;4.9;2.0;virginica\n', '7.7;2.8;6.7;2.0;virginica\n', '6.3;2.7;4.9;1.8;virginica\n', '6.7;3.3;5.7;2.1;virginica\n', '7.2;3.2;6.0;1.8;virginica\n', '6.2;2.8;4.8;1.8;virginica\n', '6.1;3.0;4.9;1.8;virginica\n', '6.4;2.8;5.6;2.1;virginica\n', '7.2;3.0;5.8;1.6;virginica\n', '7.4;2.8;6.1;1.9;virginica\n', '7.9;3.8;6.4;2.0;virginica\n', '6.4;2.8;5.6;2.2;virginica\n', '6.3;2.8;5.1;1.5;virginica\n', '6.1;2.6;5.6;1.4;virginica\n', '7.7;3.0;6.1;2.3;virginica\n', '6.3;3.4;5.6;2.4;virginica\n', '6.4;3.1;5.5;1.8;virginica\n', '6.0;3.0;4.8;1.8;virginica\n', '6.9;3.1;5.4;2.1;virginica\n', '6.7;3.1;5.6;2.4;virginica\n', '6.9;3.1;5.1;2.3;virginica\n', '5.8;2.7;5.1;1.9;virginica\n', '6.8;3.2;5.9;2.3;virginica\n', '6.7;3.3;5.7;2.5;virginica\n', '6.7;3.0;5.2;2.3;virginica\n', '6.3;2.5;5.0;1.9;virginica\n', '6.5;3.0;5.2;2.0;virginica\n', '6.2;3.4;5.4;2.3;virginica\n', '5.9;3.0;5.1;1.8;virginica\n']

**EXERCISES**

**Exer 1**

Get the raw Github links for iris_features and iris_labels and read both files seperately

In [101]:
url_X='https://raw.githubusercontent.com/jverwaer/IntroDataScience/main/PCLabs/files_IDS/iris_features.csv' #raw github link
url_Y='https://raw.githubusercontent.com/jverwaer/IntroDataScience/main/PCLabs/files_IDS/iris_labels.csv' #raw github link

f = requests.get(url_X)
X = f.text
f = requests.get(url_Y)
Y = f.text